{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <main>
        <nav class="p-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'location_admin' %}">Location Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Location</li>
            </ol>
        </nav>
        <div class="container card-title pt-2">
            <div class="card-body">
                <div class="row">
                    <h1>Add New Location</h1>
                    <hr>
                </div>
                <br>
                <form method="POST" action="{% url 'add_location' %}" id="location-form">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <input type="hidden" name="production_title" value="{{ location.production_title }}">
                            <div class="col-12">
                                <label for="location_name" class="form-group">Location Name</label>
                                <input type="text" class="form-control" name="location_name" value="{{ location.location_name }}">
                            </div>
                            <div class="col-6">
                                <label for="location_contact" class="form-group">Contact Name</label>
                                <input type="text" class="form-control" name="location_contact" value="{{ location.location_contact }}">
                            </div>
                            <div class="col-6">
                                <label for="location_phone" class="form-group">Phone</label>
                                <input type="text" class="form-control" name="location_phone" value="{{ location.location_phone }}">
                            </div>
                            <div class="col-12">
                                <label for="location_address_1" class="form-group">Address 1</label>
                                <input type="text" class="form-control" name="location_address_1" value="{{ location.location_address_1 }}">
                            </div>
                            <div class="col-12">
                                <label for="location_address_2" class="form-group">Address 2</label>
                                <input type="text" class="form-control" name="location_address_2" value="{{ location.location_address_2 }}">
                            </div>
                            <div class="col-6">
                                <label for="location_city" class="form-group">City</label>
                                <input type="text" class="form-control" name="location_city" value="{{ location.location_city }}">
                            </div>
                            <div class="col-3">
                                <label for="location_state" class="form-group">State</label>
                                <input type="text" class="form-control" name="location_state" value="{{ location.location_state }}">
                            </div>
                            <div class="col-3">
                                <label for="location_zip" class="form-group">Zip</label>
                                <input type="text" class="form-control" name="location_zip" value="{{ location.location_zip }}">
                            </div>
                        </div>
                        <br>
                        <!-- Submit button -->
                        <button class="btn btn-primary" type="submit">Add Location</button>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}