{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<main>
    <nav class="p-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'driver_roster' %}">Driver Roster</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Driver</li>
        </ol>
    </nav>
    <div class="container card-title pt-2">
        <div class="card-body">
            <div class="row">
                <h1>Add New Driver</h1>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="email-search" placeholder="Search for driver by email address" aria-label="Search">
                </form>
                <ul id="search-results" class="list-group mt-2" style="display: none;"></ul>
            </div>
            <hr>
            <br>
            <form action="" method="POST" action="{% url 'add_driver' %}" id="driver-form">
                {% csrf_token %}
                <!-- Information pulled from user information -->
                <div class="row">
                    <div class="col-12">
                        <label for="production_title">Production Title</label>
                        <input class="form-control" type="text" id="production_title" name="production_title">
                    </div>
                    <div class="col-6">
                        <label for="first_name">First Name</label>
                        <input class="form-control" type="text" id="first_name" name="first_name">
                    </div>
                    <div class="col-6">
                        <label for="last_name">Last Name</label>
                        <input class="form-control" type="text" id="last_name" name="last_name">
                    </div>
                    <div class="col-6">
                        <label for="driver_email">User Name</label>
                        <input class="form-control" type="text" id="driver_email" name="driver_email">
                    </div>
                    <div class="col-6">
                        <label for="driver_phone">Phone Number</label>
                        <input class="form-control" type="text" id="driver_phone" name="driver_phone">
                    </div>
                </div>
                <!-- Driver specific information -->
                <div class="row">
                    <div class="col-6">
                        <label for="occupation_code">Occupation Code</label>
                        <input class="form-control" type="text" id="occupation_code" name="occupation_code">
                    </div>
                    <div class="col-6">
                        <label for="rate">Rate</label>
                        <input class="form-control" type="text" id="rate" name="rate">
                     </div>
                    <div class="col-6">
                        <label for="start_date">Gropuing</label>
                        <input class="form-control" type="number" id="grouping" name="grouping">
                    </div>
                    <div class="col-6">
                        <label for="last_4">Last 4</label>
                        <input class="form-control" type="number" id="last_4" name="last_4">
                    </div>
                </div>
                <br>
                <!-- Submit button -->
                <button class="btn btn-primary" type="submit">Add Driver</button>
                <br>
            </form>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $('#email-search').on('input', function(){
        var email = $(this).val();
        if (email.length > 2) {
            $.ajax({
                url: "{% url 'search_user_by_email' %}",
                method: "GET",
                data: { email: email },
                success: function(response) {
                    $('#search-results').empty().hide();
                    if (response.exists) {
                        $.each(response.users, function(index, user) {
                            $('#search-results').append(
                                '<li class="list-group-item list-group-item-action" data-email="' + user.email + '">' + user.email + '</li>'
                            );
                        });
                        $('#search-results').show();
                    }
                }
            });
        } else {
            $('#search-results').empty().hide();
        }
    });

    $(document).on('click', '#search-results li', function() {
        var email = $(this).data('email');
        $.ajax({
            url: "{% url 'get_user_details_by_email' %}",
            method: "GET",
            data: { email: email },
            success: function(response) {
                if (response.exists) {
                    $('#first_name').val(response.user.first_name);
                    $('#last_name').val(response.user.last_name);
                    $('#id_user_name').val(response.user.user_name);
                    $('#driver_email').val(response.user.driver_email);
                    $('#driver_phone').val(response.user.driver_phone);
                    $('#production_title').val(response.user.production_title);
                }
            }
        });
    });
});
</script>
{% endblock %}
