{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <h1>Add New Driver</h1>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Email search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <hr>
            <!-- Search for a driver that may already have a user account -->
            <br>

            <!-- If no driver is found, add the driver-->
            <form action="" method="POST">
                {% csrf_token %}
                {{ driver|crispy }}
                <br>
                <button class=" btn btn-primary" type="submit">Add Driver</button>
                <br>
            </form>
    </main>
{% endblock %}