{% extends 'interface/layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Driver Daily Rundown for {{ production.production_title }} on {{ date }}</h1>
    <h2>Drivers</h2>
    <ul>
        {% for driver in rundown.drivers.all %}
        <li>{{ driver.first_name }} {{ driver.last_name }} - {{ driver.driver_phone }}</li>
        {% endfor %}
    </ul>
    <h2>Equipment</h2>
    <ul>
        {% for equipment in rundown.equipment.all %}
        <li>{{ equipment.vehicle_type }} - {{ equipment.vendor_unit_number }}</li>
        {% endfor %}
    </ul>
    <h2>Driver Times</h2>
    <ul>
        {% for driver_time in rundown.driver_times.all %}
        <li>{{ driver_time.driver }}: Call Time: {{ driver_time.call_time }}, Wrap Time: {{ driver_time.wrap_time }}, Total Hours: {{ driver_time.total_hours }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}