{% extends 'interface/layout.html' %}

{% block content %}
    <main>
        <h3 class="p-1"> Welcome, {{user.first_name}} </h3>
        <hr>
        <div class="container">
            <div class="row p-1">
                <div class="col-3 justify-content-center d-flex" style="border: 1px solid red;">
                    <div class="card border-dark bg-dark dashboard-icon mx-auto">
                        <a href="{% url 'new_run' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa fa-plus"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                    <p class="text-center">New Run</p>
                </div>
                <div class="col-3 " style="border: 1px solid red;">
                    <div class="card border-dark bg-dark dashboard-icon">
                        <a href="{% url 'run_history' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa fa-history"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                    <p class="text-center">All Runs</p>
                </div>
            </div>
            <br>
            <a class="btn btn-outline-primary btn-sm" href="" hidden>Request New Run</a>
            <br>
        </div>
    </main>

{% endblock %}