{% extends 'interface/layout.html' %}

{% block content %}
    <main>
        <div class="mx-3 pt-3 dashboard-user-info">
            <h1>{{ user.first_name }} {{ user.last_name }} </h1>
            <p>{{ request.session.department }} - {{ request.session.job_title }} | {{ request.session.production_title }}</p>
        </div>
        <div class="row">
            <div class="col-12" hidden>
                <p><strong>Email:</strong> {{ request.session.user_email }}</p>
                <p><strong>Production ID:</strong> {{ request.session.current_production_id }}</p>
                <p><strong>Production Title:</strong> {{ request.session.production_title }}</p>
                <p><strong>Job Title:</strong> {{ request.session.job_title }}</p>
                <p><strong>Department:</strong> {{ request.session.department }}</p>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class=" col-12">
                    <a href="{% url 'new_run' %}" title="new_run">
                        <button class="btn btn-primary">New Run</button>
                    </a>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class=" col-12 col-lg-6 px-2 mb-2">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Open Runs</h4>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in runs %}
                                    {% if run.run_status == "Open" %}
                                        <tr>
                                            <th scope="row">{{ run.id }}</th>
                                            <td>{{ run.pickup_name }}</td>
                                            <td scope="row">
                                                    {{ run.run_date }}                 
                                            </td>
                                            <td>
                                                <a class="btn btn-secondary" href="{% url 'view_run' run.id %}" title="view_run"><i class="fa fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-2 mb-2">
                    <div class="card-body">
                        <div class="card-title">
                          <h4>Recently Completed Runs</h4>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in runs %}
                                    {% if run.run_status == "Completed" %}
                                        <tr>
                                            <th scope="row">{{ run.id }}</th>
                                            <td>{{ run.pickup_name }}</td>
                                            <td scope="row">
                                                {{ run.run_date }}                 
                                            </td>
                                            <td>
                                                <a class="btn btn-secondary" href="{% url 'view_run' run.id %}" title="view_run"><i class="fa fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </main>

{% endblock %}