{% extends 'interface/layout.html' %}

{% block content %}
    <main>
        <h3 class="p-1"> Welcome, {{user.first_name}} </h3>
        <hr>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="col-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-md-3 pb-2">
                    <div class="card border-primary bg-dark dashboard-icon">
                        <a href="{% url 'new_run' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa fa-plus"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col-3 col-sm-3 col-md-3 pb-2">
                    <div class="card border-primary bg-dark dashboard-icon">
                        <a href="{% url 'run_history' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa fa-history"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col-3 col-md-3 pb-2">
                    <div class="card border-primary bg-dark dashboard-icon">
                        <a href="{% url 'run_history' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa fa-question"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col-3 col-md-3 pb-2">
                    <div class="card border-primary bg-dark dashboard-icon">
                        <a href="{% url 'run_history' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa fa-question"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <a class="btn btn-outline-primary btn-sm" href="" hidden>Request New Run</a>
            <br>
        </div>
    </main>

{% endblock %}