{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <main>
        <div class="container">
            <br>
            <div class="d-flex justify-content-between">
              <h1>Driver Rundown</h1>
            </div>
            <div class="row">
                <div class="col-4" style='border: 1px solid black;'>
                    <h5>Dreamquil</h5>
                    <strong>Quixote Studios - Sylmar</strong>
                    <p>13207 Bradley Ave<br>
                    Sylmar, CA 91342</p>
                </div>
                <div class="col-4" style='border: 1px solid black;'>
                    <h5>Shoot Day 20</h5>
                    <strong>Tuesday</strong>
                    <p>June 6th, 2024</p>
                </div>
                <div class="col-4" style='border: 1px solid black;'>
                    <h5>Location</h5>
                    <strong>Quixote Studios - Sylmar</strong>
                    <p>13207 Bradley Ave<br>
                    Sylmar, CA 91342</p>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <h2>On Production</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Driver Name</th>
                        <th>Phone</th>
                        <th>Group</th>
                        <th>Equipment Type</th>
                        <th>Tows</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chasen Ibarra</td>
                        <td>3105690869</td>
                        <td>2</td>
                        <td>Stakebed</td>
                        <td>5-Room Cast Trailer</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <h2>Off Production</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Driver Name</th>
                        <th>Phone</th>
                        <th>Group</th>
                        <th>Equipment Type</th>
                        <th>Tows</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chasen Ibarra</td>
                        <td>3105690869</td>
                        <td>2</td>
                        <td>Stakebed</td>
                        <td>5-Room Cast Trailer</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <h2>Equpiment Only</h2>
            </div>
        </div>
    </main>
{% endblock %}