{% extends 'interface/layout.html' %}

{% block content %}
    <h1>Time Details</h1>
    <h5>{{ driver_time.driver }}</h5>
    {% csrf_token %}
        <div class="mb-3">
            <p><strong>Driver: </strong>{{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Shift Date: </strong>{{ driver_time.work_date }}</p>
            <p><strong>Call Time: </strong>{{ driver_time.call_time }}</p>
            <p><strong>NDB: </strong>{{ driver_time.non_deducted_breakfast_in }}</p>
            <p><strong>Lunch 1: </strong>{{ driver_time.lunch_1_out }} to {{ driver_time.lunch_1_in }}</p>
            <p><strong>NDM: </strong>{{ driver_time.non_deducted_meal_out }} to {{ driver_time.non_deducted_meal_in }}</p>
            <p><strong>Lunch 2: </strong>{{ driver_time.lunch_2_out }} to {{ driver_time.lunch_2_in }}</p>
            <p><strong>Wrap Time: </strong>{{ driver_time.wrap_time }}</p>
            <p><strong>Total Hours: </strong>{{ driver_time.total_hours }} Hours</p>
            <p><strong>Driver's Notes: </strong>{{ driver_time.notes }}</p>
            <p><strong>Instructions: </strong>{{ driver_time.instructions }}</p>
        </div>
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Send to Driver</button>
    </form>
{% endblock %}