{% extends 'interface/layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Fuel Log</h1>
    <a href="#" class="btn btn-primary mb-3">Log Fuel</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>License Plate #</th>
                <th>Vehcile Description</th>
                <th>Odometer</th>
                <th>Gallons</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10/22/2024 </td>
                <td>123XX45</td>
                <td>Fuel Truck</td>
                <td>120,000</td>
                <td>50.24</td>
            </tr>
            <tr>
                <td>10/22/2024 </td>
                <td>123XX45</td>
                <td>Fuel Truck</td>
                <td>120,000</td>
                <td>50.24</td>
            </tr>
            <tr>
                <td>10/22/2024 </td>
                <td>123XX45</td>
                <td>Fuel Truck</td>
                <td>120,000</td>
                <td>50.24</td>
            </tr>
            <tr>
                <td>10/22/2024 </td>
                <td>123XX45</td>
                <td>Fuel Truck</td>
                <td>120,000</td>
                <td>50.24</td>
            </tr>
            <tr>
                <td>10/22/2024 </td>
                <td>123XX45</td>
                <td>Fuel Truck</td>
                <td>120,000</td>
                <td>50.24</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}