{% load static %}
<header class="otd-header">
    <nav class="navbar navbar-dark bg-dark border-bottom border-body header-bar" data-bs-theme="dark">
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <button class="navbar-toggler d-lg-none" type="button" onclick="toggleSidebar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'dashboard' %}">
                    <img src="{% static 'img/OTD_Day_Reel_ON_Logo_White_FINAL.png' %}" alt="OTD Logo" style="width: 50px; height: auto;">
                </a>
            {% else %}
                <a class="navbar-brand" href="#!">
                    <img src="{% static 'img/OTD_Day_Reel_ON_Logo_White_FINAL.png' %}" alt="OTD Logo" style="width: 50px; height: auto;">
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                
                <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
</header>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('active');
    }
    </script>
    