{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <main>
        <br>
        <div class="container card-body">
            <h1>Show Location Admin Panel</h1>
            <hr>
            <a class="btn btn-outline-primary p-2" href="{% url 'add_location' %}">New Location</a>
            <div class="table-responsive p-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Location</th>
                            <th scope="col">Contact Name</th>
                            <th scope="col" class="hidden-column">Contact Phone</th>
                            <th scope="col">Address 1</th>
                            <th scope="col">Address 2</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in locations %}
                            <tr>
                                <td>{{ location.location_name }}</td>
                                <td>{{ location.location_contact }}</td>
                                <td>{{ location.location_phone }}</td>
                                <td>{{ location.location_address_1 }}</td>
                                <td>{{ location.location_address_2 }}</td>
                                <td>{{ location.location_city }}</td>
                                <td>{{ location.location_state }}</td>
                                <td>{{ location.location_zip }}</td>
                                <td>
                                    <a href="{% url 'view_location' location.id %}" class="btn btn-secondary">Edit</a>
                                
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}