{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="row">
            <div>
                <a class="navbar-brand" href="#!"><img src="{% static 'img/logo_white.png' %}" alt="OTD Logo" style="width: 50px; height: auto;"></a>
            </div>
        </div>
        <div class="px-2">
            {% if user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Runs
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'new_run' %}">New Run</a></li>
                                <li><a class="dropdown-item" href="{% url 'run_queue' %}">Run Queue</a></li>
                                <li><a class="dropdown-item" href="{% url 'run_history' %}">Run History</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Transportation
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'driver_rundown' %}">Driver Rundown</a></li>
                                <li><a class="dropdown-item" href="{% url 'driver_roster' %}">Driver Roster</a></li>
                                <li><a class="dropdown-item" href="#">Equipment</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'production_admin' %}">Production Admin</a></li>
                                <li><a class="dropdown-item" href="{% url 'user_admin' %}">User Admin</a></li>
                            </ul>
                        </li>
                        &nbsp;     &nbsp;     &nbsp; 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sign out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
            {% endif %}  
        </div>
    </div>
</nav>