{% load crispy_forms_tags %}
<nav class="bg-dark sidebar" id="sidebar">
    <div class="container">
        <div class="row">
            <form id="production-form" action="{% url 'change_production' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="production-select">
                    <select id="production-select" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" name="production_title">
                        {% for production in user_productions %}
                            <option value="{{ production.production_title }}" {% if production.production_title == request.session.production_title %} selected {% endif %}>{{ production.production_title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <a href="{% url 'add_production' %}"><i>Add Production</i></a>
        </div>
    </div>
    <br>
    <ul>
        <strong class="text-white">Runs</strong>
        <li><a class="dropdown-item" href="{% url 'new_run' %}"><i class="fa fa-truck"></i> Run Request</a></li>
        <li><a class="dropdown-item" href="{% url 'run_queue' %}"><i class="fa fa-list-ul"></i> Run Queue</a></li>
        <li><a class="dropdown-item" href="{% url 'run_history' %}"><i class="fa fa-clock-rotate-left"></i> Run History</a></li>
    </ul>
    <br>
    {% if request.session.department == "Transportation" or request.session.department == "Admin" %}
        <ul>
            <strong class="text-white">Transportation</strong>
            <li><a class="dropdown-item" href="{% url 'driver_times' %}"><i class="fa fa-clock"></i> Submit Times</a></li>
            <li><a class="dropdown-item" href="{% url 'driver_roster' %}">
                <i class="fa fa-user"></i> Driver Roster</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'daily_rundown' %}">
                <i class="fa fa-file"> </i> Daily Rundown</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'equipment_admin' %}" >
                <i class="fa fa-gear"> </i> Equipment</a>
            </li>
        </ul>
    {% endif %}
    <br>
    {% if request.session.department == "Admin" %}
        <ul>
            <strong class="text-white">Admin</strong>
            <li><a class="dropdown-item" href="{% url 'user_admin' %}"><i class="fa fa-user"></i> Users</a></li>
            <li><a class="dropdown-item" href="{% url 'production_admin' %}"><i class="fa fa-film"></i> Productions</a></li>
            <li><a class="dropdown-item" href="{% url 'location_admin' %}"><i class="fa fa-map-pin"></i> Locations</a></li>
        </ul>
    {% endif %}
    <br>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.getElementById('production-select');
        selectElement.addEventListener('change', function() {
            document.getElementById('production-form').submit();
        });
    });
</script>