{% extends 'interface/layout.html' %}

{% block content %}
    <nav class="p-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'run_history' %}">Run History</a></li>
        <li class="breadcrumb-item active" aria-current="page">Run {{ run_request.id }}</li>
        </ol>
    </nav>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container shadow-md col-10 pt-2">
            <h1>Run {{ run_request.id }} - {{ run_request.requester_department }}</h1>
            {% if run_request.run_status == "Open" %}
            <div class="alert alert-primary  text-center">
                This run is scheduled
            </div>
            {% elif run_request.run_status == "In Progress" %}
            <div class="alert alert-warning  text-center">
                This run is currently in progress
            </div>
            {% elif run_request.run_status == "Cancelled" %}
            <div class="alert alert-danger  text-center">
                This run has been cancelled
            </div>
            {% elif run_request.run_status == "Completed" %}
            <div class="alert alert-success text-center">
                This run has been completed
            </div>
            {% endif %}
            <!-- Requester Information-->
            <div class="row" >
                <h5>Requested By</h5>
                <div class="col-6">
                    <label for="requester_name">Name</label>
                    <input type="text" class="form-control" name="requester_name" id="requester_name" value="{{ run_request.requester_name }}" readonly>
                </div>
                <div class="col-6">
                    <label for="requester_department">Department</label>
                    <input type="text" class="form-control" name="requester_department" id="requester_department" value="{{ run_request.requester_department }}" readonly>
                </div>
                <div class="col-6">
                    <label for="requester_email">Email</label>
                    <input type="text" class="form-control" name="requester_email" id="requester_email" value="{{ run_request.requester_email }}" readonly>
                </div>
                <div class="col-6">
                    <label for="requester_phone">Phone</label>
                    <input type="text" class="form-control" name="requester_phone" id="requester_phone" value="{{ run_request.requester_phone }}" readonly>
                </div>
            </div>
            <br>
            <!-- Run Information/First Stop -->
            <div class="row">
                <h5>Run Information</h5>
                <div class="col-12">
                    <label for="pickup_name">Pick Up From</label>
                    <input type="text" class="form-control" name="pickup_name" id="pickup_name" value="{{ run_request.pickup_name }}">
                </div>
                <div class="col-12">
                    <label for="pickup_address_1">Address 1</label>
                    <input type="text" class="form-control" name="pickup_address_1" id="pickup_address_1" value="{{ run_request.pickup_address_1 }}">
                </div>
                <div class="col-12">
                    <label for="pickup_address_2">Address 2</label>
                    {% if run_request.pickup_address_2 %}
                        <input type="text" class="form-control" name="pickup_address_2" id="pickup_address_2" value="{{ run_request.pickup_address_2 }}">
                    {% else %}
                        <input type="text" class="form-control" name="pickup_address_2" id="pickup_address_2" value="">
                    {% endif %}
                </div>
                <div class="col-5">
                    <label for="pickup_city">City</label>
                    <input type="text" class="form-control" name="pickup_city" id="pickup_city" value="{{ run_request.pickup_city }}">
                </div>
                <div class="col-3">
                    <label for="pickup_state">State</label>
                    <input type="text" class="form-control" name="pickup_name" id="pickup_state" value="{{ run_request.pickup_state }}">
                </div>
                <div class="col-4">
                    <label for="pickup_zip">Zip</label>
                    <input type="text" class="form-control" name="pickup_zip" id="pickup_zip" value="{{ run_request.pickup_zip }}">
                </div>
                <div class="col-12 mb-3">
                    <label for="run_details" class="form-label">Run Details</label>
                    <textarea class="form-control" id="run_details" name="run_details" rows="3">{{ run_request.run_details }}</textarea>
                </div>
            </div>
            <br>

            <!-- Stop 2 information -->
             {% if run_request.dropoff_name %}
                <div class="row">
                    <h5>Stop 2:</h5>
                    <div class="col-12">
                        <label for="dropoff_name">Drop Off From</label>
                        <input type="text" class="form-control" name="dropoff_name" id="dropoff_name" value="{{ run_request.dropoff_name }}">
                    </div>
                    <div class="col-12">
                        <label for="dropoff_address_1">Address 1</label>
                        <input type="text" class="form-control" name="dropoff_address_1" id="dropoff_address_1" value="{{ run_request.dropoff_address_1 }}">
                    </div>
                    <div class="col-12">
                        <label for="dropoff_address_2">Address 2</label>
                        {% if run_request.dropoff_address_2 %}
                            <input type="text" class="form-control" name="dropoff_address_2" id="dropoff_address_2" value="{{ run_request.dropoff_address_2 }}">
                        {% else %}
                            <input type="text" class="form-control" name="dropoff_address_2" id="dropoff_address_2" value="">
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <label for="dropoff_city">City</label>
                        <input type="text" class="form-control" name="dropoff_city" id="dropoff_city" value="{{ run_request.dropoff_city }}">
                    </div>
                    <div class="col-3">
                        <label for="dropoff_state">State</label>
                        <input type="text" class="form-control" name="dropoff_state" id="dropoff_state" value="{{ run_request.dropoff_state }}">
                    </div>
                    <div class="col-4">
                        <label for="dropoff_zip">Zip</label>
                        <input type="text" class="form-control" name="dropoff_zip" id="dropoff_zip" value="{{ run_request.dropoff_zip }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Run Details</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ run_request.run_details_2 }}</textarea>
                    </div>
                </div>           
                <br>
            {% endif %}

            <!-- Stop 3 information -->
            {% if run_request.stop_3_name %}
                <div class="row">
                    <h5>Stop 3:</h5>
                    <div class="col-12">
                        <label for="stop_3_name">Drop Off From</label>
                        <input type="text" class="form-control" name="stop_3_name" id="stop_3_name" value="{{ run_request.stop_3_name }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_3_address_1">Address 1</label>
                        <input type="text" class="form-control" name="stop_3_address_1" id="stop_3_address_1" value="{{ run_request.stop_3_address_1 }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_3_address_2">Address 2</label>
                        {% if run_request.dropoff_address_2 %}
                            <input type="text" class="form-control" name="stop_3_address_2" id="stop_3_address_2" value="{{ run_request.stop_3_address_2 }}">
                        {% else %}
                            <input type="text" class="form-control" name="stop_3_address_2" id="stop_3_address_2" value="">
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <label for="stop_3_city">City</label>
                        <input type="text" class="form-control" name="stop_3_city" id="stop_3_city" value="{{ run_request.stop_3_city }}">
                    </div>
                    <div class="col-3">
                        <label for="stop_3_state">State</label>
                        <input type="text" class="form-control" name="stop_3_state" id="stop_3_state" value="{{ run_request.stop_3_state }}">
                    </div>
                    <div class="col-4">
                        <label for="stop_3_zip">Zip</label>
                        <input type="text" class="form-control" name="stop_3_zip" id="stop_3_zip" value="{{ run_request.stop_3_zip }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="run_details_3" class="form-label">Run Details</label>
                        <textarea class="form-control" id="run_details_3" rows="3">{{ run_request.run_details_3 }}</textarea>
                    </div>
                </div>           
                <br>
            {% endif %}

            <!-- Stop 4 information -->
            {% if run_request.stop_4_name %}
                <div class="row">
                    <h5>Stop 4:</h5>
                    <div class="col-12">
                        <label for="stop_4_name">Drop Off From</label>
                        <input type="text" class="form-control" name="stop_4_name" id="stop_4_name" value="{{ run_request.stop_4_name }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_4_address_1">Address 1</label>
                        <input type="text" class="form-control" name="stop_4_address_1" id="stop_4_address_1" value="{{ run_request.stop_4_address_1 }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_4_address_2">Address 2</label>
                        {% if run_request.dropoff_address_2 %}
                            <input type="text" class="form-control" name="stop_4_address_2" id="stop_4_address_2" value="{{ run_request.stop_4_address_2 }}">
                        {% else %}
                            <input type="text" class="form-control" name="stop_4_address_2" id="stop_4_address_2" value="">
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <label for="stop_4_city">City</label>
                        <input type="text" class="form-control" name="stop_4_city" id="stop_4_city" value="{{ run_request.stop_4_city }}">
                    </div>
                    <div class="col-3">
                        <label for="stop_4_state">State</label>
                        <input type="text" class="form-control" name="stop_4_state" id="stop_4_state" value="{{ run_request.stop_4_state }}">
                    </div>
                    <div class="col-4">
                        <label for="stop_4_zip">Zip</label>
                        <input type="text" class="form-control" name="stop_4_zip" id="stop_4_zip" value="{{ run_request.stop_4_zip }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="run_details_4" class="form-label">Run Details</label>
                        <textarea class="form-control" id="run_details_4" rows="3">{{ run_request.run_details_4 }}</textarea>
                    </div>
                </div>           
                <br>
            {% endif %}

            <!-- Stop 5 information -->
            {% if run_request.stop_5_name %}
                <div class="row">
                    <h5>Stop 5:</h5>
                    <div class="col-12">
                        <label for="stop_5_name">Drop Off From</label>
                        <input type="text" class="form-control" name="stop_5_name" id="stop_5_name" value="{{ run_request.stop_5_name }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_5_address_1">Address 1</label>
                        <input type="text" class="form-control" name="stop_5_address_1" id="stop_5_address_1" value="{{ run_request.stop_5_address_1 }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_5_address_2">Address 2</label>
                        {% if run_request.dropoff_address_2 %}
                            <input type="text" class="form-control" name="stop_5_address_2" id="stop_5_address_2" value="{{ run_request.stop_5_address_2 }}">
                        {% else %}
                            <input type="text" class="form-control" name="stop_5_address_2" id="stop_5_address_2" value="">
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <label for="stop_5_city">City</label>
                        <input type="text" class="form-control" name="stop_5_city" id="stop_5_city" value="{{ run_request.stop_5_city }}">
                    </div>
                    <div class="col-3">
                        <label for="stop_5_state">State</label>
                        <input type="text" class="form-control" name="stop_5_state" id="stop_5_state" value="{{ run_request.stop_5_state }}">
                    </div>
                    <div class="col-4">
                        <label for="stop_5_zip">Zip</label>
                        <input type="text" class="form-control" name="stop_5_zip" id="stop_5_zip" value="{{ run_request.stop_5_zip }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="run_details_5" class="form-label">Run Details</label>
                        <textarea class="form-control" id="run_details_5" rows="3">{{ run_request.run_details_5 }}</textarea>
                    </div>
                </div>           
                <br>
            {% endif %}

            <!-- Stop 6 information -->
            {% if run_request.stop_6_name %}
                <div class="row">
                    <h5>Stop 6:</h5>
                    <div class="col-12">
                        <label for="stop_6_name">Drop Off From</label>
                        <input type="text" class="form-control" name="stop_6_name" id="stop_6_name" value="{{ run_request.stop_6_name }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_6_address_1">Address 1</label>
                        <input type="text" class="form-control" name="stop_6_address_1" id="stop_6_address_1" value="{{ run_request.stop_6_address_1 }}">
                    </div>
                    <div class="col-12">
                        <label for="stop_6_address_2">Address 2</label>
                        {% if run_request.dropoff_address_2 %}
                            <input type="text" class="form-control" name="stop_6_address_2" id="stop_6_address_2" value="{{ run_request.stop_6_address_2 }}">
                        {% else %}
                            <input type="text" class="form-control" name="stop_6_address_2" id="stop_6_address_2" value="">
                        {% endif %}
                    </div>
                    <div class="col-">
                        <label for="stop_6_city">City</label>
                        <input type="text" class="form-control" name="stop_6_city" id="stop_6_city" value="{{ run_request.stop_6_city }}">
                    </div>
                    <div class="col-3">
                        <label for="stop_6_state">State</label>
                        <input type="text" class="form-control" name="stop_6_state" id="stop_6_state" value="{{ run_request.stop_6_state }}">
                    </div>
                    <div class="col-4">
                        <label for="stop_6_zip">Zip</label>
                        <input type="text" class="form-control" name="stop_6_zip" id="stop_6_zip" value="{{ run_request.stop_6_zip }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="run_details_6" class="form-label">Run Details</label>
                        <textarea class="form-control" id="run_details_6" rows="3">{{ run_request.run_details_6 }}</textarea>
                    </div>
                </div>           
                <br>
            {% endif %}
            <!-- Supporting Information -->
            <div class="row">
                <h5>Supporting Information</h5>
                <div class="col-6 mb-3">
                    <label for="purchase_order">P.O. #</label>
                    <input type="text" class="form-control" name="purchase_order" id="purchase_order" value="{{ run_request.purchase_order }}">
                </div>
                <div class="col-6 mb-3">
                    <label for="vendor_invoice">Vendor Order #</label>
                    <input type="text" class="form-control" name="vendor_invoice" id="vendor_invoice" value="{{ run_request.vendor_invoice }}">
                </div>
                <div class="col-12 mb-3">
                    <label for="formFileSm" class="form-label">Supporting Documents</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
            </div>
            <br>
            <!-- Buttons -->
            <div class="row pb-5">
                <div class="col-4 text-center">
                    <a class="btn btn-success" href="{% url 'complete_run' run_request.id %}" title="view_run">Complete</a>
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-secondary" type="submit">Update</button>
                </div>
                <div class="col-4 text-center">
                    <a class="btn btn-danger" href="{% url 'cancel_run' run_request.id %}" title="view_run">Cancel</a>
                </div>
            </div>
        </div>
    </form>
    <br>
{% endblock %}