{% extends 'interface/layout.html' %}

{% block content %}
    <nav class="p-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'run_history' %}">Run History</a></li>
        <li class="breadcrumb-item active" aria-current="page">Run {{ run_request.id }}</li>
        </ol>
    </nav>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container shadow-md col-10 pt-2">
            <h1>Run {{ run_request.id }} - {{ run_request.requester_department }}</h1>
            {% if run_request.run_status == "Open" %}
            <div class="alert alert-primary  text-center">
                This run is scheduled
            </div>
            {% elif run_request.run_status == "In Progress" %}
            <div class="alert alert-warning  text-center">
                This run is currently in progress
            </div>
            {% elif run_request.run_status == "Cancelled" %}
            <div class="alert alert-danger  text-center">
                This run has been cancelled
            </div>
            {% elif run_request.run_status == "Completed" %}
            <div class="alert alert-success text-center">
                This run has been completed
            </div>
            {% endif %}
            <div class="row" >
                <h5>Requested By</h5>
                <div class="col-6">
                    <label for="requester_name">Name</label>
                    <input type="text" class="form-control" name="requester_name" id="requester_name" value="{{ run_request.requester_name }}" readonly>
                </div>
                <div class="col-6">
                    <label for="requester_department">Department</label>
                    <input type="text" class="form-control" name="requester_department" id="requester_department" value="{{ run_request.requester_department }}" readonly>
                </div>
                <div class="col-6">
                    <label for="requester_email">Email</label>
                    <input type="text" class="form-control" name="requester_email" id="requester_email" value="{{ run_request.requester_email }}" readonly>
                </div>
                <div class="col-6">
                    <label for="requester_phone">Phone</label>
                    <input type="text" class="form-control" name="requester_phone" id="requester_phone" value="{{ run_request.requester_phone }}" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <h5>Pick Up Information</h5>
                <div class="col-12">
                    <label for="pickup_name">Pick Up From</label>
                    <input type="text" class="form-control" name="pickup_name" id="pickup_name" value="{{ run_request.pickup_name }}">
                </div>
                <div class="col-12">
                    <label for="pickup_address_1">Address 1</label>
                    <input type="text" class="form-control" name="pickup_address_1" id="pickup_address_1" value="{{ run_request.pickup_address_1 }}">
                </div>
                <div class="col-12">
                    <label for="pickup_address_2">Address 2</label>
                    {% if run_request.pickup_address_2 %}
                        <input type="text" class="form-control" name="pickup_address_2" id="pickup_address_2" value="{{ run_request.pickup_address_2 }}">
                    {% else %}
                        <input type="text" class="form-control" name="pickup_address_2" id="pickup_address_2" value="">
                    {% endif %}
                </div>
                <div class="col-5">
                    <label for="pickup_city">City</label>
                    <input type="text" class="form-control" name="pickup_city" id="pickup_city" value="{{ run_request.pickup_city }}">
                </div>
                <div class="col-3">
                    <label for="pickup_state">State</label>
                    <input type="text" class="form-control" name="pickup_name" id="pickup_state" value="{{ run_request.pickup_state }}">
                </div>
                <div class="col-4">
                    <label for="pickup_zip">Zip</label>
                    <input type="text" class="form-control" name="pickup_zip" id="pickup_zip" value="{{ run_request.pickup_zip }}">
                </div>
            </div>
            <br>
            <div class="row">
                <h5>Drop Off Information</h5>
                <div class="col-12">
                    <label for="dropoff_name">Drop Off From</label>
                    <input type="text" class="form-control" name="dropoff_name" id="dropoff_name" value="{{ run_request.dropoff_name }}">
                </div>
                <div class="col-12">
                    <label for="dropoff_address_1">Address 1</label>
                    <input type="text" class="form-control" name="dropoff_address_1" id="dropoff_address_1" value="{{ run_request.dropoff_address_1 }}">
                </div>
                <div class="col-12">
                    <label for="dropoff_address_2">Address 2</label>
                    {% if run_request.dropoff_address_2 %}
                        <input type="text" class="form-control" name="dropoff_address_2" id="dropoff_address_2" value="{{ run_request.dropoff_address_2 }}">
                    {% else %}
                        <input type="text" class="form-control" name="dropoff_address_2" id="dropoff_address_2" value="">
                    {% endif %}
                </div>
                <div class="col-5">
                    <label for="dropoff_city">City</label>
                    <input type="text" class="form-control" name="dropoff_city" id="dropoff_city" value="{{ run_request.dropoff_city }}">
                </div>
                <div class="col-3">
                    <label for="dropoff_state">State</label>
                    <input type="text" class="form-control" name="dropoff_state" id="dropoff_state" value="{{ run_request.dropoff_state }}">
                </div>
                <div class="col-4">
                    <label for="dropoff_zip">Zip</label>
                    <input type="text" class="form-control" name="dropoff_zip" id="dropoff_zip" value="{{ run_request.dropoff_zip }}">
                </div>
            </div>           
            <br>
            <div class="row">
                <h5>Run Information</h5>
                <div class="col-6 mb-3">
                    <label for="purchase_order">P.O. #</label>
                    <input type="text" class="form-control" name="purchase_order" id="purchase_order" value="{{ run_request.purchase_order }}">
                </div>
                <div class="col-6 mb-3">
                    <label for="vendor_invoice">Vendor Order #</label>
                    <input type="text" class="form-control" name="vendor_invoice" id="vendor_invoice" value="{{ run_request.vendor_invoice }}">
                </div>
                <div class="col-12 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Run Details</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{ run_request.run_details }}"></textarea>
                    </div>
            </div>
            <div class="col-12 mb-3">
                <label for="formFileSm" class="form-label">Supporting Documents</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
        </div>
        <br>
        <!-- Buttons -->
        <div class="row pb-5">
            <div class="col-4 text-center">
                <a class="btn btn-success" href="{% url 'complete_run' run_request.id %}" title="view_run">Complete Run</a>
            </div>
            <div class="col-4 text-center">
                <button class="btn btn-secondary" type="submit">Update Run</button>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-danger" href="{% url 'cancel_run' run_request.id %}" title="view_run">Cancel Run</a>
            </div>
        </div>
    </form>
    <br>
{% endblock %}