{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Run {{ run.id }} Details</h1>
    <form method="post" action="{% url 'update_run' run.id %}">
        {% csrf_token %}
        <!-- Primary Information -->
         <div class="container">
             <div class="row" name="primary_information" hidden>
                 <div class="form-group">
                     <label for="production_title">Production Title</label>
                     {{ form.production_title|as_crispy_field }}
                 </div>
             </div>
            <!-- Requester Contact Information-->
            <div class="row pb-2">
                <div class="form-group col-6">
                    <label for="requester_name">Requester Name</label>
                    {{ form.requester_name|as_crispy_field }}
                </div>
                <div class="form-group col-6" readonly>
                    <label for="requester_phone">Requester Phone</label>
                    {{ form.requester_phone|as_crispy_field }}
                </div>
                <div class="form-group col-6">
                    <label for="requester_email">Requester Email</label>
                    {{ form.requester_email|as_crispy_field }}
                </div>
                <div class="form-group col-6">
                    <label for="requester_department">Requester Department</label>
                    {{ form.requester_department|as_crispy_field }}
                </div>
            </div>
            <!-- Dates and Times-->
            <div class="row">
                <div class="form-group col-4">
                    <label for="run_date">Run Date</label>
                    {{ form.run_date|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                    <label for="ready_time">Ready Time</label>
                    {{ form.ready_time|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                    <label for="need_by_this_time">Need By</label>
                    {{ form.need_by_this_time|as_crispy_field }}
                </div>
            </div>
         </div>
        <hr>
        <!-- Pickup Information-->
        <h2>Pickup Information</h2>
        <div class="container">
            <div class="row">
                <div class="form-group col-12">
                    <label for="pickup_name">Name</label>
                    {{ form.pickup_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <label for="pickup_address_1">Address 1</label>
                {{ form.pickup_address_1|as_crispy_field }}
            </div>
            <div class="form-group">
                <label for="pickup_address_2">Address 2</label>
                {{ form.pickup_address_2|as_crispy_field }}
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="pickup_city">City</label>
                    {{ form.pickup_city|as_crispy_field }}
                </div>
                <div class="form-group col-2">
                    <label for="pickup_state">State</label>
                    {{ form.pickup_state|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                    <label for="pickup_zip">Zip</label>
                    {{ form.pickup_zip|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <label for="run_details">Details</label>
                {{ form.run_details|as_crispy_field }}
            </div>
        </div>
        <hr>

        <!-- Stop 2 -->
         {% if form.stop_2_name.value %}
        <h2>Stop 2 Information</h2>
        <div class="container" name="stop_2_div">
            <div class="row">
                <div class="form-group col-12">
                    <label for="stop_2_name">Name</label>
                    {{ form.stop_2_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-group col-12">
                <label for="stop_2_address_1">Address 1</label>
                {{ form.stop_2_address_1|as_crispy_field }}
            </div>
            <div class="form-group col-12">
                <label for="stop_2_address_2">Address 2</label>
                {{ form.stop_2_address_2|as_crispy_field }}
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="stop_2_city">City</label>
                    {{ form.stop_2_city|as_crispy_field }}
                </div>
                <div class="form-group col-2">
                    <label for="stop_2_state">State</label>
                    {{ form.stop_2_state|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                    <label for="stop_2_zip">Zip</label>
                    {{ form.stop_2_zip|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <label for="stop_2_details">Details</label>
                {{ form.run_details_2|as_crispy_field }}
            </div>
        </div>
        <hr>
        {% endif %}

        <!-- Stop 3 -->
         {% if form.stop_3_name.value %}
            <h2>Stop 3 Information</h2>
            <div class="container" name="stop_3_div">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="stop_3_name">Name</label>
                        {{ form.stop_3_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="stop_3_address_1">Address 1</label>
                        {{ form.stop_3_address_1|as_crispy_field }}
                    </div>
                    <div class="form-group col-12">
                        <label for="stop_3_address_2 col-12">Address 2</label>
                        {{ form.stop_3_address_2|as_crispy_field }}
                    </div>
                    <div class="form-group col-6">
                        <label for="stop_3_city">City</label>
                        {{ form.stop_3_city|as_crispy_field }}
                    </div>
                    <div class="form-group col-2">
                        <label for="stop_3_state">State</label>
                        {{ form.stop_3_state|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        <label for="stop_3_zip">Zip</label>
                        {{ form.stop_3_zip|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="stop_3_details">Details</label>
                    {{ form.run_details_3|as_crispy_field }}
                </div>
            </div>
            <hr>
        {% endif %}

        <!-- Stop 4 -->
         {% if form.stop_4_name.value %}
            <h2>Stop 4 Information</h2>
            <div class="container" name="stop_4_div">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="stop_4_name">Name</label>
                        {{ form.stop_4_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-12">
                        <label for="stop_4_address_1">Address 1</label>
                        {{ form.stop_4_address_1|as_crispy_field }}
                    </div>
                    <div class="form-group col-12">
                        <label for="stop_4_address_2">Address 2</label>
                        {{ form.stop_4_address_2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="stop_4_city">City</label>
                        {{ form.stop_4_city|as_crispy_field }}
                    </div>
                    <div class="form-group col-2">
                        <label for="stop_4_state">State</label>
                        {{ form.stop_4_state|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        <label for="stop_4_zip">Zip</label>
                        {{ form.stop_4_zip|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="stop_4_details">Details</label>
                    {{ form.run_details_4|as_crispy_field }}
                </div>
            </div>
            <hr>
        {% endif %}

        <!-- Stop 5 -->
        {% if form.stop_5_name.value %}
            <div class="container" name="stop_5_div">
                <h2>Stop 5 Information</h2>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="stop_5_name">Name</label>
                        {{ form.stop_5_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-12">
                        <label for="stop_5_address_1">Address 1</label>
                        {{ form.stop_5_address_1|as_crispy_field }}
                    </div>
                    <div class="form-group col-12">
                        <label for="stop_5_address_2">Address 2</label>
                        {{ form.stop_5_address_2|as_crispy_field }}
                    </div>
                    <div class="form-group col-6">
                        <label for="stop_5_city">City</label>
                        {{ form.stop_5_city|as_crispy_field }}
                    </div>
                    <div class="form-group col-2">
                        <label for="stop_5_state">State</label>
                        {{ form.stop_5_state|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        <label for="stop_5_zip">Zip</label>
                        {{ form.stop_5_zip|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="stop_5_details">Stop 5 Details</label>
                    {{ form.run_details_5|as_crispy_field }}
                </div>
            </div>
            <hr>
        {% endif %}

        <!-- Stop 6 -->
         {% if form.stop_6_name.value %}
            <h2>Stop 6 Information</h2>
            <div class="container" name="stop_6_div">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="stop_6_name">Name</label>
                        {{ form.stop_6_name|as_crispy_field }}
                    </div>
                    <div class="form-group row-12">
                        <label for="stop_6_address_1">Address 1</label>
                        {{ form.stop_6_address_1|as_crispy_field }}
                    </div>
                    <div class="form-group row-12">
                        <label for="stop_6_address_2">Address 2</label>
                        {{ form.stop_6_address_2|as_crispy_field }}
                    </div>
                    <div class="form-group col-6">
                        <label for="stop_6_city">City</label>
                        {{ form.stop_6_city|as_crispy_field }}
                    </div>
                    <div class="form-group col-2">
                        <label for="stop_6_state">State</label>
                        {{ form.stop_6_state|as_crispy_field }}
                    </div>
                    <div class="form-row group col-4">
                        <label for="stop_6_zip">Zip</label>
                        {{ form.stop_6_zip|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="stop_6_details">Stop 6 Details</label>
                    {{ form.run_details_6|as_crispy_field }}
                </div>
            </div>
            <hr>
        {% endif %}
        <!-- Repeat similar structure for Stop 3 to Stop 6 and Dropoff Information -->
        
        <h2>Dropoff Information</h2>
        <div class="container" name="dropoff_div">
            <div class="row">
                <div class="form-group col-12">
                    <label for="dropoff_name">Name</label>
                    {{ form.dropoff_name|as_crispy_field }}
                </div>
                <div class="form-group col-12">
                    <label for="dropoff_address_1">Address 1</label>
                    {{ form.dropoff_address_1|as_crispy_field }}
                </div>
                <div class="form-group col-12">
                    <label for="dropoff_address_2">Address 2</label>
                    {{ form.dropoff_address_2|as_crispy_field }}
                </div>
                <div class="form-group col-6">
                    <label for="dropoff_city">City</label>
                    {{ form.dropoff_city|as_crispy_field }}
                </div>
                <div class="form-group col-2">
                    <label for="dropoff_state">State</label>
                    {{ form.dropoff_state|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                    <label for="dropoff_zip">Zip</label>
                    {{ form.dropoff_zip|as_crispy_field }}
                </div>
            </div>
            <div class="form-group">
                <label for="dropoff_details">Dropoff Details</label>
                {{ form.dropoff_details|as_crispy_field }}
            </div>
        </div>

        
        <h2>Additional Information</h2>
        <div class="container">
            <div class="row">
                <div class="form-group col-6">
                    <label for="purchase_order">Purchase Order</label>
                    {{ form.purchase_order|as_crispy_field }}
                </div>
                <div class="form-group col-6">
                    <label for="vendor_invoice">Vendor Invoice</label>
                    {{ form.vendor_invoice|as_crispy_field }}
                </div>
                <div class="form-group col-6">
                    <label for="run_status">Run Status</label>
                    {{ form.run_status|as_crispy_field }}
                </div> 
                <div class="form-group col-6">
                    <label for="truck_size">Truck Size</label>
                    <select name="truck_size" id="truck_size" class="form-control">
                        {% for value, label in truck_sizes %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if request.session.department == 'Transportation' or request.session.department == 'Admin' %}
                    {% if request.session.job_title != 'Driver' %}
                        <div class="form-group col-12">
                            <label for="assigned_driver">Assigned Driver</label>
                            <select name="assigned_driver" id="assigned_driver" class="form-control">
                                <option value="">Select a driver</option>
                                {% for driver in active_drivers %}
                                    <option value="{{ driver.id }}">{{ driver.first_name }} {{ driver.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {% if request.session.department == 'Transportation' or request.session.department == 'Admin' %}
                {% if request.session.job_title != 'Driver' %}
                    <div class="form-group">
                        <label for="transportation_notes">Transportation Notes</label>
                        {{ form.transportation_notes|as_crispy_field }}
                    </div>
                {% endif %}
            {% endif %}
            {% if request.session.department == 'Transportation' or request.session.department == 'Admin' %}
                <div class="form-group">
                    <label for="driver_notes">Driver Notes</label>
                    {{ form.driver_notes|as_crispy_field }}
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
            <div class="col-4">
                <a href="{% url 'complete_run' run.id %}" class="btn btn-success">Complete</a>
            </div>
            <div class="col-4">
                <a href="{% url 'cancel_run' run.id %}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}