{% extends 'interface/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <nav class="p-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Run Queue</li>
        </ol>
    </nav>
    <main>
        <br>
        <div class="container">
            <h1>Run Queue | {{ request.session.production_title }}</h1>
        </div>
        <div class="container">
            <br>
            {% regroup runs by run_date as date_groups %}
            {% for date_group in date_groups %}
                <div class="date-group mb-4">
                    <h3 class="date-label">{{ date_group.grouper }}</h3>
                    {% for run in date_group.list %}
                        <details class="border p-3 rounded mb-3">
                            <summary class="font-weight-bold">Run #{{ run.id }} - {{ run.requester_department }}</summary>
                            <div class="mt-3">
                                <div class="row">
                                    <div class="col-7">
                                        <strong>Ready Time:</strong> {{ run.ready_time }}<br>
                                        <strong>Need By:</strong> {{ run.need_by_this_time }}
                                    </div>
                                    <div class="col-5">
                                        <button class="btn btn-primary">Acknowledge</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-7">
                                        <strong>Go To:</strong><br>
                                        {{ run.pickup_name }}<br>
                                        {{ run.pickup_address_1 }}<br>

                                        {% if run_request.pickup_address_2 %}
                                            {{ run.pickup_address_2}}<br>
                                        {% endif %}

                                        {{ run.pickup_city }}, {{ run.pickup_state }} {{ run.pickup_zip }}
                                    </div>
                                    <div class="col-5">
                                        <a  class="btn btn-outline-primary" href="https://maps.apple.com/?address={{ run.pickup_address_1 }},+{{ run.pickup_city }},+{{ run.pickup_state }}+{{ run.pickup_zip }}">
                                            <i class="fa fa-apple"></i>
                                        </a>
                                        <a  class="btn btn-outline-primary" href="https://www.google.com/maps/search/?api=1&query={{ run.pickup_address_1 }},+{{ run.pickup_city }},+{{ run.pickup_state }}">
                                            <i class="fa fa-google"></i>
                                        </a>
                                                <a  class="btn btn-outline-primary" href="https://truckmap.com/place/{{ run.pickup_address_1|urlencode }}{{ run.pickup_city|urlencode }}{{ run.pickup_state|urlencode }}{{ run.pickup_zip|urlencode }}">
                                            <i class="fa fa-truck"></i>
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-7">
                                        <strong>Take To:</strong><br>
                                        {{ run.dropoff_name }}<br>
                                        {{ run.dropoff_address_1 }}<br>

                                        {% if run_request.dropoff_address_2 %}
                                            {{ run.dropoff_address_2}}<br>
                                        {% endif %}

                                        {{ run.dropoff_city }}, {{ run.dropoff_state }} {{ run.dropoff_zip }}
                                    </div>
                                    <div class="col-5">
                                        <a  class="btn btn-outline-primary" href="https://maps.apple.com/?address={{ run.pickup_address_1 }},+{{ run.pickup_city }},+{{ run.pickup_state }}+{{ run.pickup_zip }}">
                                            <i class="fa fa-apple"></i>
                                        </a>
                                        <a class="btn btn-outline-primary" href="https://www.google.com/maps/search/?api=1&query={{ run.pickup_address_1 }},+{{ run.pickup_city }},+{{ run.pickup_state }}">
                                            <i class="fa fa-google"></i>
                                        </a>
                                        <a class="btn btn-outline-primary" href="https://truckmap.com/place/{{ run.pickup_address_1 }}-{{ run.pickup_city }}-{{ run.pickup_state }}">
                                            <i class="fa fa-truck"></i>
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <strong>Run Details:</strong><br> 
                                {{ run.run_details }}<br>
                                <br>
                                <div class="row">
                                    <div class="col-4">
                                        <a class="btn btn-secondary" href="{% url 'view_run' run.id %}" style="width: 100%;">View</a>
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-success" href="{% url 'complete_run' run.id %}" style="width: 100%;">Complete</a>
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-danger" href="{% url 'cancel_run' run.id %}" style="width: 100%;">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </details>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() { 
            // Add search functionality
            $('#runSearch').submit(function(event) {
                event.preventDefault(); // Prevent default form submission
                var searchText = $('#searchInput').val().toLowerCase(); // Get search input value
                // Loop through each table row
                $('#runHistory tbody tr').each(function() {
                    var rowText = $(this).text().toLowerCase(); // Get text content of row
                    if (rowText.indexOf(searchText) === -1) { // Check if row contains search text
                        $(this).hide(); // Hide row if not a match
                    } else {
                        $(this).show(); // Show row if a match
                    }
                });
            });
        });
    </script>
{% endblock %}
