{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <main>
        <br>
        <div class="container">
            <h1>Run History</h1>
        </div>
        <div class="container" style="overflow-x:auto">
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Department</th>
                    <th scope="col" class="hidden-column">Contact</th>
                    <th scope="col">Pick Up</th>
                    <th scope="col" class="hidden-column">Drop Off</th>
                    <th scope="col">Purchase Order</th>
                    <th scope="col" class="hidden-column" class="hidden-column">Invoice #</th>
                    <th scope="col" class="hidden-column">Run Details</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <td scope="row">1</td>
                    <td scope="row">Camera</td>
                    <td scope="row" class="hidden-column">Chasen Ibarra</td>
                    <td scope="row">
                        Keslow Camera<br>
                    </td>
                    <td scope="row" class="hidden-column">
                        Sony Pictures Studios<br>
                    </td>
                    <td scope="row" class="hidden-column">9999</td>
                    <td scope="row" class="hidden-column">1234567890</td>
                    <td scope="row" class="hidden-column">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </td>
                    <td>
                        <button class="btn btn-secondary">View</button>
                    </td>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}