{% extends 'interface/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <main>
        <br>
        <div class="container">
            <h1>Run History</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Department</th>
                    <th scope="col">Contact</th>
                </thead>
                <tbody>
                    <td scope="row">1</td>
                    <td scope="row">Camera</td>
                    <td scope="row">
                        Chasen Ibarra<br>
                        chasen.ibarra@icloud.com
                    </td>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}