/* Dashboard Styling */
.dashboard-icon {
    border-radius: 10px;
}

.dashboard-icon-text {
    justify-content: center;
    align-items: center;
}

/* Run Request Styling */
.run-request-container {
    width: 100%;
    height: 600px;
    margin: 8% auto;
    border-radius: 5px;
    position: relative;
}

.run-request-input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}

.next-button-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.next-button {
    width: 110px;
    height: 35px;
    margin: 0 10px;;
}

.back-button {
    width: 110px;
    height: 35px;
    margin: 0 10px;;
}

td, th {
    text-align: center;
}

.run-status {
    border-radius: 50px;
    font-size: medium;
    scale: 70%;

}

@media (max-width: 575.98px) {
    .hidden-column {
        display: none; /* Hide on extra small devices */
    }

    .run-request-container {
        width: 380px;
    }

    .dashboard-icon {
        border-radius: 10px;
        font-size: 50px;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
}