body {
    padding: 0;
    margin: 0;
    background-color: white;
}

main {
    margin: 0;
    padding: 0;
}

.wireframing {
    border: 1px solid red;
}

.otd-header {
    z-index: 1100;
}

.index-page {
    padding-top: 60px;
}

.header-bar {
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 0;
    border: 1px solid #343a40;
    width: 100%;
}

.sidebar {
    display: none;
    padding: 0;
    margin: 0;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin-top: 60px;
    padding-top: 20px;
    border: none;
    background-color: #343a40;
    font-size: small;
    z-index: 9999; /* Make sure it’s above other content */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;

}

.sidebar li {
    padding-top: 5px;
    padding-left: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #343a40;
    color: white;
}

.content {
    margin-top: 60px;
}

.card-body {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.dashboard-user-info p {
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: thin;
}

/* Run Request Styling */
.run-request-container {
    width: 100%;
    height: 600px;
    margin: 8% auto;
    border-radius: 5px;
    position: relative;
}

.run-request-input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}

.next-button-box {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.next-button {
    width: 110px;
    height: 35px;
    margin: 0 10px;;
}

.back-button {
    width: 110px;
    height: 35px;
    margin: 0 10px;;
}

td, th {
    text-align: center;
}

.run-status {
    border-radius: 50px;
    font-size: x-small;
    size: 40%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 1050;
}


@media (max-width: 768px) {
    .content {
        margin-left: 0 !important;
    }
    .sidebar {
        left: -250px; /* Hidden position */
        transition: left 0.3s ease;
    }
    .sidebar.active {
        left: 0; /* Visible position */
    }

    .hidden-column {
        display: none; /* Hide on extra small devices */
    }

    .run-request-container {
        width: 380px;
    }


    th {
        white-space: nowrap;
    }

}

@media (min-width: 768px) {
    .card-body {
        padding: 10px;
        margin: 10px;
        font-size: small;

    }

    .run-request-container {
        width: 80%;
    
    }
}

@media (min-width: 994px) {
    .medium-hidden-column {
        display: none;
    }

    th {
        white-space: nowrap;
    }

}