/* Run Request Styling */
.run-request-container {
    width: 360px;
    height: 500px;
    margin: 8% auto;
    border-color: black;
    border-style:solid;
    border-radius: 5px;
    position: relative;
}

.run-request-container > input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

::placeholder {
    color: #777;
}

.run-request-button {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}