/* Run Request Styling */
.run-request-container {
    width: 360px;
    height: 600;
    margin: 8% auto;
    border-radius: 5px;
    position: relative;
}

.run-request-container #step1 {
    /* Your animation properties here */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.run-request-input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}

.next-button-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.next-button {
    width: 110px;
    height: 35px;
    margin: 0 10px;;
}

.back-button {
    width: 110px;
    height: 35px;
    margin: 0 10px;;
}